.panigation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0;
  column-gap: 20px;
  list-style: none;
  color: $dark;
  font-weight: 300;
  &-item {
    :hover {
      color: #fff;
    }
  }
  &-active {
    min-width: 30px;
    text-align: center;
    color: #fff;
    padding: 2px 4px;
    border-radius: 7px;
    background-image: $gradient;
  }
}
