.home {
  width: 100%;
  height: 100%;
  background-color: $primary;
  &-video {
    padding-top: 52.5%;
    width: 100%;
    height: 100%;
    position: relative;
    &-tilte {
      position: absolute;
      bottom: 20px;
      left: 100px;
      opacity: 0.7;
      transform: translateY(-95%);
      z-index: 10;
      @include mobile {
        display: none;
      }
    }
    &-detail {
      position: absolute;
      top: 0;
      left: 0;
    }
    &-volume {
      cursor: pointer;
      width: 20px;
      height: 20px;
      color: $dark;
      position: absolute;
      left: 25px;
      bottom: 85px;
      z-index: 10;
      transition: color 0.3s linear;
      &:hover {
        color: #fff;
      }
    }
    &-bottom {
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 0;
      background-image: linear-gradient(to bottom, transparent, $primary);
    }
  }
}
