.navbar {
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 0;
  transition: 0.25s linear;
  z-index: 99;
  &-container {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    min-width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0 15px;
    background-image: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &-image {
      width: 45px;
      height: 45px;
      @include mobile {
        width: 30px;
        height: 30px;
      }
    }
    &-title {
      @include mobile {
        font-size: 20px;
      }
    }
  }
  &-navigate {
    display: flex;
    gap: 0 20px;
    &-text {
      position: relative;
      color: $dark;
      transition: color 0.3s linear;
    }
    &-text:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 50%;
      background-image: $gradient;
      border-radius: 100rem;
      transform: translate(-50%, 250%);
      transition: width 0.3s linear;
    }
    &-text.active:before,
    &-text:hover:before {
      width: 100%;
    }
    &-text:hover,
    &-text.active {
      color: #fff;
    }
    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 70px;
      width: 100vw;
      background-color: $primary;
      align-items: center;
      justify-content: space-around;
      padding: 0 50px;
    }
  }
}
