.navbar {
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 0;
  transition: 0.25s linear;
  z-index: 99;
  &-container {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    min-width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0 15px;
    background-image: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &-image {
      width: 45px;
      height: 45px;
      @include mobile {
        width: 30px;
        height: 30px;
      }
    }
    &-title {
      @include mobile {
        font-size: 20px;
      }
    }
  }
  &-navigate {
    display: flex;
    gap: 0 20px;
    &-text {
      position: relative;
      color: $dark;
      transition: color 0.3s linear;
    }
    &-text:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 50%;
      background-image: $gradient;
      border-radius: 100rem;
      transform: translate(-50%, 250%);
      transition: width 0.3s linear;
    }
    &-text.active:before,
    &-text:hover:before {
      width: 100%;
    }
    &-text:hover,
    &-text.active {
      color: #fff;
    }
    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 70px;
      width: 100vw;
      background-color: $primary;
      align-items: center;
      justify-content: space-around;
      padding: 0 50px;
    }
    &-account {
      color: $dark;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      &-icon {
        font-size: 35px;
      }
    }
    &-account:hover,
    &-account.active {
      color: #fff;
    }
    &-image {
      width: 35px;
      height: 35px;
      border-radius: 100rem;
      cursor: pointer;
    }
    &-user {
      width: 35px;
      height: 35px;
      position: relative;
    }
    &-logout {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-20%, 110%);
      width: 100px;
      height: 40px;
      outline: none;
      border: none;
      background-color: $dark-1;
      border-radius: 7px;
      font-size: 15px;
      color: $dark;
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      &:hover {
        color: #fff;
      }
      &:before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(320%, -50%) rotate(45deg);
        background-color: $dark-1;
      }
    }
  }
}
.activeLogout {
  visibility: visible;
  opacity: 1;
}

.inActiveLogout {
  visibility: hidden;
  opacity: 0;
}
