@import "./scss/variables";
@import "./scss/mixin";
@import "react-toastify/dist/ReactToastify.css";
@import "./components/navbar/navbar";
@import "./components/home/home";
@import "./components/movies/movies";
@import "./components/tv-series/tv-series";
@import "./components/row/row";
@import "./scss/cards";
@import "./scss/items";
@import "./components/poster-rating/posterRating";
@import "./components/table-detail-desc//tableDetail";
@import "./components/credits/credits";
@import "./components/seasons/seasons";
@import "./components/trailer/trailer";
@import "./components/reviews/reviews";
@import "./components/pagination/pagination";
@import "./components/search/search";
@import "./components/error/error";
@import "./components/modal/modal";
@import "./components/footer/footer";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: $primary;
  position: relative;
  user-select: none;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, $secondary, $secondary-1);
    border-radius: 100rem;
  }
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
button,
a {
  cursor: pointer;
  display: inline-block;
}
a {
  text-decoration: none;
}
.text {
  font-weight: 500;
  &-big {
    font-size: 35px;
    color: #fff;
  }
  &-normal {
    font-size: 25px;
    color: #fff;
  }
  &-medium {
    font-size: 20px;
  }
  &-small {
    font-size: 16px;
    color: #fff;
  }
}
.gotop {
  font-size: 30px;
  color: $dark;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: color 0.2s linear;
  z-index: 999;
  &:hover {
    color: #fff;
  }
}
.Toastify__toast {
  background: #151514 !important;
  font-size: 15px;
}
.Toastify__close-button {
  color: $dark;
}
